#h1 {
    text-align: center;
}

#window1 {
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
}

#window2 {
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
}

#imageSlider1 {
   display: flex;
   transform: translateX(-000px);
   animation: anime 5s infinite;
}

#imageSlider2 {
   display: flex;
}

img {
    width: 400px;
    height: 400px;
}
/* animation 0px to -600px and back */
@keyframes anime {
   0% {
     transform: translateX(0px)
   }
   50% {
     transform: translateX(-600px);
   }
   100% {
       transform: translateX(0px);
   }

   }

   #buttons {
       /* added margin for button */
       margin: 5px;
       text-align: center;
   }